.product-detail {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
}

.product-detail h2 {
    color: #073c29;
    margin-bottom: 1rem;
}

.product-detail p {
    margin: 0.5rem 0;
    color: #333;
}

/* Tablet */
@media screen and (max-width: 768px) {
    .product-detail {
        margin: 1.5rem;
        padding: 1.5rem;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    .product-detail {
        margin: 1rem;
        padding: 1rem;
    }
}

.product-detail-image {
    max-width: 300px;
    height: auto;
    margin-bottom: 2rem;
}

.back-button {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    background-color: #96aca3;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #73877f;
}